[Unit]
Description=Universal Relay
User=u-relay
Group=u-relay

[Service]
ExecStartPre=/bin/sh -e -c 'mkdir -p /run/u-relay -m 700;chown u-relay:u-relay-access /run/u-relay;chmod 2750 /run/u-relay'
ExecStart=/usr/local/lib/u-relay/test_wild.sh /run/u-relay
Environment=LD_PRELOAD=/usr/local/lib/libsocketbox-preload.so NODE_ENV=production
